:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

#kt_body{
  background: linear-gradient(45deg, blue, red) !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}
